---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Source+Code+Pro|Roboto+Slab:100|Source+Code+Pro|Source+Sans+Pro:200|Unica+One|Josefin+Sans:300|Nothing+You+Could+Do');

/* Add custom styles for tab buttons with higher specificity */
.btn-group .btn {
  background-color: transparent !important; /* Default background for inactive tabs */
  color: black !important; /* Text color for inactive tabs */
  border-color: #940000 !important; /* Border color */
}

.btn-group .btn.active,
.btn-group .btn:active {
  background-color: #940000 !important; /* Active tab background */
  color: black !important; /* Text color for active tab */
  border-color: #940000!important; /* Match border to background */
}

.btn-group .btn:hover,
.btn-group .btn:focus {
  background-color: #940000 !important; /* Hover color for buttons */
  color: black !important; /* Hover text color */
  border-color: #940000 !important; /* Border color on hover */
}
